.container {
  display: flex;
  flex-direction: column;
  width: 18%;
  box-sizing: border-box;
  margin: 0 20px 50px 0;
  height: 192px;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #557da526;
  background: white;
  justify-content: space-between;
}
.insideContainer {
  width: 100%;
  overflow: hidden;
  height: 20px;
  margin: 0 0 10px 0;
  color: #303f60;
  opacity: 1;
  font-size: 17px;
  text-overflow: ellipsis;
}

.innerPara {
  width: 100%;
  height: 64px;
  margin: 0 0 6px 0;
  color: #303f60;
  opacity: 0.8;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main {
  height: 50px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.box {
  display: flex;
  align-items: center;
  width: 40%;
  margin: 0 20px 0 0;
}

.modalClick {
  width: '50%';
  height: 32px;
  border-radius: 5px;
  background: #43afff33;
  box-sizing: border-box;
  padding: 6px 0 6px 13px;
  cursor: pointer;
}
.boxPara {
  margin: 0 0 0 12px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Helvetica Neue, Regular;
}
.description {
  width: '100%';
  height: '64px';
  margin: '0 0 6px 0';
  color: '#303F60';
  opacity: '0.8';
  font-size: '16px';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
